.infocard{
    color: aqua;
}

.infocard_title{
    background-color: aqua;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    color: #031517;
    border: 1px solid aqua;
    border-radius: 20px 20px 0px 0px;
    font-size: 30px;
}

.infocard_detail{
    padding:10px;
    border: 1px solid aqua;
    border-radius: 0px 0px 20px 20px;
    white-space: pre-line;
    font-size: 25px;
}